# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd}]
indent_size = 4
end_of_line = crlf

[*.{json,jsonc}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{md,mkd,mkdn,mdwn,mdown,markdown}]
trim_trailing_whitespace = false

[*.py]
indent_size = 4
indent_style = space

[*.{yaml,yml}]
indent_size = 2
