# editorconfig.org
root = True

[*]

indent_style = Space
indent_size = 4
end_of_line = lf
charset = utf-8
Trim_trailing_whitespace = True
Insert_final_newline = True

[*.md]

trim_trailing_whitespace = False
