# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

; top-most EditorConfig file
root = true

; define basic and global for any file
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = off
trim_trailing_whitespace = true

; DOS scripts - force CRLF eof
[*.{bat,cmd}]
indent_size = 4
end_of_line = crlf

; JSON files - compress a little more
[*.{json,jsonc}]
indent_size = 2

; Make tasks - match defaults according it own syntax
[Makefile]
indent_style = tab

; Markdown files - preserve whitespaces
[*.{md,mkd,mkdn,mdwn,mdown,markdown}]
trim_trailing_whitespace = false

; PowerShell - match defaults for New-ModuleManifest and PSScriptAnalyzer Invoke-Formatter
[*.{ps1,psd1,psm1}]
indent_size = 4
charset = utf-8-bom

; Python sources - match defaults according it own syntax
[*.py]
indent_size = 4
indent_style = space

; YML config files - match defaults according it own syntax
[*.{yaml,yml}]
indent_size = 2
