name: Check URLs from changed files

on:
  push:
  pull_request:

permissions:
  # needed for checkout code
  contents: read

# This allows a subsequently queued workflow run to interrupt/wait for previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref || github.run_id }}'
  cancel-in-progress: true         # true = interrupt, false = wait

jobs:

# NOTE: tj-actions/changed-files.
# For push events you need to include fetch-depth: 0 | 2 depending on your use case.
#  0: retrieve all history for all branches and tags
#  1: retrieve current commit (by default)
#  2: retrieve the preceding commit
  get-changed-files:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      fetch-depth: ${{ steps.set-params.outputs.fetch-depth }}
      files:       ${{ steps.set-files.outputs.files }}
      matrix:      ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Determine workflow params
        id: set-params
        run: |
          echo "::set-output name=fetch-depth::0";
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "::set-output name=fetch-depth::1";
          fi
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: ${{ steps.set-params.outputs.fetch-depth }}
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29.0.3
        with:
          separator: " "
          json: true
      - id: set-files
        run: |
          echo "${{ steps.changed-files.outputs.all_changed_files }}"  \
            | jq --raw-output '. | join(" ")'  \
            | sed -e 's/^/::set-output name=files::/'
      - id: set-matrix
        run: |
          echo "{\"file\":${{ steps.changed-files.outputs.all_changed_files }}}"  \
            | sed -e 's/^/::set-output name=matrix::/'


  check-urls:
    name: Check @ ${{ matrix.file }}
    needs: [get-changed-files]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.get-changed-files.outputs.matrix) }}
      max-parallel: 10
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: ${{ steps.get-changed-files.outputs.fetch-depth }}
      - name: Setup Ruby v2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Install awesome_bot
        run: |
          gem install awesome_bot
      - name: "Check URLs of file: ${{ matrix.file }}"
        run: |
          awesome_bot "${{ matrix.file }}" --allow-redirect --allow-dupe --allow-ssl || true;
      - uses: actions/upload-artifact@v3
        with:
          name: awesomebot-results
          path: ${{ github.workspace }}/ab-results-*.json


  reporter:
    name: GitHub report
    needs: [get-changed-files, check-urls]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout  # for having the sources of the local action
        uses: actions/checkout@v3
        # download and unzip the ab-results-*.json generated by job-matrix: check-urls
      - uses: actions/download-artifact@v3
        with:
          name: awesomebot-results
      - name: Generate Summary Report
        uses: ./.github/actions/awesomebot-gh-summary-action
        with:
          ab-root: ${{ github.workspace }}
          files: ${{ needs.get-changed-files.outputs.files }}
          separator: " "
          append-heading: ${{ true }}
